
  input {
    box-shadow: 0;
    outline: 0;
  }
  
  input[type=number] {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.6em;
    -moz-appearance: textfield;
  }
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type=number]:invalid,
  input[type=number]:out-of-range {
    border: 2px solid #e60023;
  }
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #1da1f2;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #1da1f2;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #1da1f2;
  }
  